h1, h2, h3, p {
  font-family: helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("img/pattern.jpeg")
}
h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding: 10px 10px 10px 10px;
}
.Pensler {
  background-color: mediumspringgreen;
}
.Rammer {
  background-color: lightcoral;
}
.Maling {
  background-color: skyblue;
}
h3 {
  font-weight: bold;
}
strong {
  font-weight: bold;
  color: blue;
}
.container {
  margin: auto;
  width: 63%;
}
